html,
body {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.image {
  background-image: url('image.jpeg'); /* Image is one of my own i do photography :'D*/
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.absolute {
  position: absolute;
  top: 0%;
  width: 100%;
}
header {
  background-color: rgb(15, 19, 26);
  box-shadow: 0px 2px 10px 2px rgb(255, 247, 0);
  padding: 5px;
  padding-left: 25px;
  color: rgb(255, 247, 0);
}
.table-container {
  margin-top: 35px;
  padding-bottom: 25px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.container-container {
  background-color: rgba(15, 19, 26, 0.461);
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  box-shadow: 0px 2px 10px 2px rgb(255, 247, 0);
}
.tabler {
  border-collapse: collapse;
}

.tabler tr {
  border: 2px solid #000000;
}

.tabler td {
  text-align: center;
  width: 250px;
  font-weight: bold;
  border: 2px solid #000000;
}

.tabler thead tr:first-child {
  background-color: rgb(28, 31, 31);
  color: rgb(255, 247, 0);
  height: 50px;
  font-size: 24px;
  font-style: italic;
}

.tabler tfoot {
  background-color: rgb(28, 31, 31);
  color: rgb(255, 247, 0);
  padding: 50px;
  font-size: 24px;
  letter-spacing: 20px;
  text-align: right;
}
.tabler tfoot td {
  color: rgb(255, 247, 0);
  font-size: 24px;
  letter-spacing: 20px;
  text-align: right;
}

.tabler tbody td:nth-child(3) {
  background-color: rgb(28, 31, 31);
}
.false {
  background-color: rgb(155, 0, 0);
}

.true {
  background-color: rgb(0, 184, 0);
}

button {
  outline: auto;
  padding: 5px;
}
.input-box {
  padding-top: 10px;
  margin-top: 100px;
  width: 500px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.input-box td {
  text-align: center;
  width: 250px;
  font-weight: bold;
  border: 2px solid #000000;
}
.input-box-sizer {
  text-align: center;
  border-collapse: collapse;
  background-color: aliceblue;
}

.task-name-input {
  width: 100%;
  border: none;
  padding: 0;
  text-align: center;
  font-size: 20px;
  background-color: inherit;
}
.create-task-button {
  width: 100%;
  padding: 0;
  font-size: 20px;
}

.input-box-sizer {
  margin-top: 25px;
}
